<div *ngIf="isSignedUp; else register">
  YOU HAVE ALREADY REGISTERED. PLEASE LOGIN
</div>
<ng-template #register>
  <div class="container-fluid">
    <div *ngIf="!progressing">
      <form
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Product Name : </mat-label>
          <input
            matInput
            type="text"
            name="productName"
            [(ngModel)]="form.productName"
            #productName="ngModel"
            required
          /> </mat-form-field
        >&nbsp;

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Description : </mat-label>
          <input
            matInput
            type="text"
            name="productDescription"
            [(ngModel)]="form.productDescription"
            #productDescription="ngModel"
            required
          /> </mat-form-field
        >&nbsp;

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Price : R</mat-label>
          <input
            matInput
            type="number"
            name="productPrice"
            [(ngModel)]="form.productPrice"
            #productPrice="ngModel"
            required
          />
        </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Select an option</mat-label>
            <mat-select [(value)]="selected">
              <mat-option>None</mat-option>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>


        <button mat-flat-button color="primary" class="example-full-width">
          REGISTER
        </button>
        &nbsp;

        <div
          class="example-full-width alert alert-warning"
          role="alert"
          *ngIf="f.submitted && isSignUpFailed"
        >
          Product FAILED {{ errorMessage }}
        </div>
      </form>
    </div>
    <div *ngIf="progressing">
      <mat-progress-bar mode="buffer"></mat-progress-bar>
    </div>
  </div>
</ng-template>

<p>You selected: {{selected}}</p>
